<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plantilla Seguimiento Reservas</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>
<nav>
    <h1>Plantilla Seguimiento Reservas - SURA Colombia</h1>
    <ul>
        <li>
            <img src="static/logo_sura.png" alt="Logo SURA" width="200" height="74"></img>
        </li>
    </ul>
</nav>
<body>
    <h2>Parametros</h2>
    <form method="POST">
        <label for="negocio">Negocio:</label>
        <select name="negocio">
            <option value="arl">ARL</option>
            <option value="autonomia">Autonomia</option>
            <option value="empresariales">Empresariales</option>
            <option value="movilidad">Movilidad</option>
            <option value="salud">Salud</option>
            <option value="soat">SOAT</option>
        </select>
    </form>

    <form method="POST">
        <label for="mes_inicio">Fecha primera ocurrencia (AAAAMM):</label>
        <input type="text" id="mes_inicio" name="mes_inicio" required>
    </form>

    <form method="POST">
        <label for="mes_fin">Fecha primera ocurrencia (AAAAMM):</label>
        <input type="text" id="mes_fin" name="mes_fin" required>
    </form>

    <form method="POST">
        <label for="tipo_analisis">Tipo de analisis:</label>
        <select name="tipo_analisis">
            <option value="triangulos">Triangulos</option>
            <option value="entremes">Entremes</option>
        </select>
    </form>

    <form method="POST">
        <label for="dia_reaseguro">Dia del mes en que se carga reaseguro a Teradata:</label>
        <input type="text" id="dia_reaseguro" name="dia_reaseguro">
    </form>

    <h2>Extraccion de informacion</h2>
    <form method="POST" action="/correr-query-siniestros">
        <button type="submit">Correr query siniestros</button>
    </form>
    <form method="POST" action="/correr-query-primas">
        <button type="submit">Correr query primas</button>
    </form>
    <form method="POST" action="/correr-query-expuestos">
        <button type="submit">Correr query expuestos</button>
    </form>

    <h2>Controles de informacion</h2>
    <form method="POST" action="/generar-controles">
        <button type="submit">Generar controles</button>
    </form>

    <h2>Plantilla</h2>
    <form method="POST">
        <label for="path_wb">Ruta de la plantilla:</label>
        <input type="text" id="path_wb" name="path_wb" required>
    </form>
    <form method="POST" action="/preparar-plantilla">
        <button type="submit">Preparar plantilla</button>
    </form>
    <form method="POST" action="/almacenar-analisis">
        <button type="submit">Almacenar analisis</button>
    </form>

    <form method="POST">
        <label for="plantilla">Seleccione plantilla:</label>
        <select name="plantilla">
            <option value="frec">Frecuencia</option>
            <option value="seve">Severidad</option>
            <option value="plata">Plata</option>
            <option value="entremes">Entremes</option>
        </select>
    </form>
    <form method="POST" action="/generar_plantilla">
        <button type="submit">Generar</button>
    </form>
    <form method="POST" action="/guardar_plantilla">
        <button type="submit">Guardar</button>
    </form>
    <form method="POST" action="/traer_plantilla">
        <button type="submit">Traer</button>
    </form>
</body>
</html>