<!doctype html>
<html lang="en">
  <head>
    <title>Plantilla Seguimiento Reservas</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}" />
  </head>
  <nav>
    <h1>Plantilla Seguimiento Reservas</h1>
    <img src="static/logo_sura.png" alt="Logo-SURA" width="200" height="74" />
  </nav>

  <body>
    <div class="form-section">
      <a
        href="https://sebastobone.github.io/app-analisis-siniestralidad/"
        target="_blank"
        >Documentación</a
      >
    </div>

    <div class="form-section">
      <h2>Estado</h2>
      <div id="log"></div>
    </div>

    <div class="form-section">
      <h2>Parametros</h2>
      <form id="ingresarParametros">
        <label for="negocio">Negocio:</label>
        <select id="negocio" name="negocio">
          <option value="arl">ARL</option>
          <option value="autonomia">Autonomia</option>
          <option value="empresariales">Empresariales</option>
          <option value="movilidad">Movilidad</option>
          <option value="salud">Salud</option>
          <option value="soat">SOAT</option>
          <option value="demo">Demo</option>
        </select>

        <label for="mesInicio">Mes de la primera ocurrencia:</label>
        <input
          type="text"
          id="mesInicio"
          name="mesInicio"
          placeholder="AAAAMM"
          required
        />

        <label for="mesCorte">Mes de corte:</label>
        <input
          type="text"
          id="mesCorte"
          name="mesCorte"
          placeholder="AAAAMM"
          required
        />

        <label for="tipoAnalisis">Tipo de analisis:</label>
        <select id="tipoAnalisis" name="tipoAnalisis">
          <option value="triangulos">Triangulos</option>
          <option value="entremes">Entremes</option>
        </select>

        <label for="aproximarReaseguro">Aproximar reaseguro:</label>
        <select id="aproximarReaseguro" name="aproximarReaseguro">
          <option value="0">No</option>
          <option value="1">Si</option>
        </select>

        <label for="cuadreContableSinis">Cuadrar siniestros contra SAP</label>
        <select id="cuadreContableSinis" name="cuadreContableSinis">
          <option value="0">No</option>
          <option value="1">Si</option>
        </select>

        <label for="addFraudeSoat">Añadir fraude a siniestros (SOAT)</label>
        <select id="addFraudeSoat" name="addFraudeSoat">
          <option value="0">No</option>
          <option value="1">Si</option>
        </select>

        <label for="cuadreContablePrimas">Cuadrar primas contra SAP</label>
        <select id="cuadreContablePrimas" name="cuadreContablePrimas">
          <option value="0">No</option>
          <option value="1">Si</option>
        </select>

        <label for="nombrePlantilla">Nombre de la plantilla:</label>
        <input
          type="text"
          id="nombrePlantilla"
          name="nombrePlantilla"
          placeholder="Plantilla_Reservas"
          required
        />

        <button type="submit">Guardar parametros</button>
      </form>
    </div>

    <div class="form-section">
      <h2>Extraccion de informacion</h2>

      <button class="apiButton" endpoint="correr-query-siniestros">
        Correr query siniestros
      </button>
      <button class="apiButton" endpoint="correr-query-primas">
        Correr query primas
      </button>
      <button class="apiButton" endpoint="correr-query-expuestos">
        Correr query expuestos
      </button>
    </div>

    <div class="form-section">
      <h2>Controles de informacion</h2>
      <button class="apiButton" endpoint="generar-controles">
        Generar controles
      </button>
    </div>

    <div class="form-section">
      <h2>Plantilla</h2>
      <button class="apiButton" endpoint="abrir-plantilla">
        Abrir plantilla
      </button>
      <button class="apiButton" endpoint="preparar-plantilla">
        Preparar plantilla
      </button>

      <button id="generarAperturas">Generar aperturas</button>

      <form id="modosPlantilla">
        <label for="apertura">Apertura:</label>
        <select id="apertura" name="apertura">
          <option value="">Ninguna</option>
        </select>

        <label for="atributo">Atributo:</label>
        <select id="atributo" name="atributo">
          <option value="bruto">Bruto</option>
          <option value="retenido">Retenido</option>
        </select>

        <label for="plantilla">Plantilla:</label>
        <select id="plantilla" name="plantilla">
          <option value="">Ninguna</option>
        </select>

        <label for="modo">Modo:</label>
        <select id="modo" name="modo">
          <option value="generar">Generar</option>
          <option value="guardar">Guardar</option>
          <option value="traer">Traer</option>
          <option value="guardar_todo">Guardar todo</option>
          <option value="traer_guardar_todo">Traer y guardar todo</option>
        </select>

        <button type="submit">Ejecutar</button>
      </form>

      <button class="apiButton" endpoint="almacenar-analisis">
        Almacenar analisis
      </button>
    </div>

    <div class="form-section">
      <h2>Resultados</h2>
      <button class="apiButton" endpoint="actualizar-wb-resultados">
        Actualizar y abrir archivo resultados
      </button>
      <button class="apiButton" endpoint="generar-informe-ar">
        Generar informe Actuario Responsable
      </button>
    </div>

    <script src="static/logViewer.js"></script>
    <script type="module" src="static/ingresarParametros.js"></script>
    <script src="static/dropdowns/generarAperturas.js"></script>
    <script src="static/dropdowns/generarPlantillas.js"></script>
    <script src="static/dropdowns/generarAtributos.js"></script>
    <script type="module" src="static/apiButtons.js"></script>
    <script type="module" src="static/modosPlantilla.js"></script>
  </body>
</html>
