body {
    font-family: Barlow;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

nav {
    background: #0033A0;
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
}

nav h1 {
    flex: auto;
    color: white;
    font-size: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0033A0;
}

label {
    font-size: 16px;
    font-weight: 500;
}

input[type="text"],
select {
    width: 80%;
    display: block;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
select:focus {
    border-color: #0033A0;
    box-shadow: 0 0 5px rgba(0, 51, 160, 0.5);
}

button {
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #00AEC7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #002080;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-section {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h2 {
    margin-top: 0px;
}