body {
    font-family: Barlow;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

nav {
    background: #0033A0;
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
}

nav h1 {
    flex: auto;
    margin: 0;
    color: white;
    font-size: 32px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Barlow;
    color: #0033A0;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.container {
    display: grid;
    gap: 20px;
    max-width: 800px;
}

.form-section {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus, select:focus {
    border-color: #0033A0;
    box-shadow: 0 0 5px rgba(0, 51, 160, 0.5);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #00AEC7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

button:hover {
    background-color: #002080;
    transform: scale(1.05);
}

label {
    font-size: 16px;
    font-weight: 500;
}